<!-- Challenge Card -->
<div
  class="card bg-base-100 shadow-xl image-full mb-5"
  [ngClass]="cardClass"
  *ngIf="challenge">
  <figure>
    <img
      src="https://placeimg.com/400/225/arch"
      alt="challenge"
      style="width: 100%" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ challenge.title }}</h2>
    <p>{{ challenge.description }}</p>

    <h2 class="text-xl">
      Rewards {{ challenge.level.rewardMusclePoints }} 💪
      <span style="float: right"
        >Required {{ challenge.level.requiredMusclePoints }} 💪</span
      >
    </h2>
    <div class="card-actions justify-end mt-2">
      <button class="btn btn-primary mr-auto">accept</button>

      <div class="avatar-group -space-x-6">
        <div class="avatar">
          <div class="w-9">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <div class="avatar">
          <div class="w-9">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <div class="avatar">
          <div class="w-9">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <div class="avatar placeholder">
          <div class="w-9 bg-neutral-focus text-neutral-content">
            <span>+{{ challenge.participants }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
