<div
  style="
    background-color: #f2f4f7;
    border-radius: 20px;
    overflow: hidden;
    height: 220px;
  "
  class="my-4">
  <!-- Info Container -->
  <div class="grid grid-cols-10" *ngIf="!showVideoContainer">
    <!-- Details Section -->
    <div class="col-span-9 p-6">
      <div class="grid grid-rows-4 gap-2">
        <div class="flex">
          <app-entry-reward
            [requiredMusclePoints]="challenge.level.rewardMusclePoints"
            [rewardMusclePoints]="
              challenge.level.rewardMusclePoints
            "></app-entry-reward>
        </div>
        <div>
          <p class="text-xs lowercase">
            {{ challenge.sportType }} -
            <span class="font-semibold">{{ challenge.level.levelName }}</span>
          </p>
        </div>

        <div>
          <h2 class="font-semibold">{{ challenge.title }}</h2>
        </div>

        <!-- Owner Section -->
        <div class="flex items-center">
          <p class="text-sm mr-2">
            <span class="text-slate-500">{{ 'COMMON.BY' | translate }}</span>
            <a class="link">
              {{ challenge.owner.username }}
            </a>
          </p>
          <!--          <div class="avatar small-avatar-container">-->
          <!--            <div class="w-8 rounded-full">-->
          <!--              <img-->
          <!--                ngSrc="{{ challenge.owner.avatar }}"-->
          <!--                fill="true"-->
          <!--                alt="avatar" />-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
        <!-- ./Owner Section -->
      </div>

      <div class="grid grid-cols-2">
        <div>
          <!-- Enter Button -->
          <button class="btn normal-case" (click)="openChallenge()">
            <!-- Enter Text -->
            <span
              *ngIf="
                challenge.owner.userId !== userId &&
                (!challenge.participationStatus ||
                  challenge.participationStatus === participationStatus.Decline)
              ">
              {{ 'COMMON.ENTER' | translate }} -{{
                challenge.level.requiredMusclePoints
              }}
              💪
            </span>
            <!-- ./Enter Text -->
            <!-- Details Text -->
            <span *ngIf="challenge.owner.userId === userId">
              {{ 'COMMON.DETAILS' | translate }}
            </span>
            <!-- ./Details Text -->
          </button>
          <!-- ./Enter Button -->
        </div>
        <!-- Participants List -->
        <app-challenge-avatar-group
          [challenge]="challenge"
          forLabelId="cardChallenge">
        </app-challenge-avatar-group>

        <!-- ./Participants List -->
      </div>
    </div>
    <!-- ./Details Section -->

    <!-- Picture Container -->
    <div
      class="thumbnail-container"
      [ngStyle]="{
        'background-image': 'url(' + challenge.thumbnail + ')'
      }"
      (click)="toggleVideoContainer()">
      <div
        style="background-color: rgba(0, 0, 0, 0.4)"
        class="h-full flex items-center">
        <!-- Slide Right Button -->
        <button class="btn btn-ghost btn-circle text-4xl">
          <ion-icon
            name="chevron-forward-outline"
            style="color: rgb(255, 255, 255)"></ion-icon>
        </button>
        <!-- ./Slide Right Button -->
      </div>
    </div>
    <!-- ./Picture Container -->
  </div>
  <!-- ./Info Container -->

  <!-- Video Container -->
  <div
    class="thumbnail-container"
    [ngStyle]="{
      'background-image': 'url(' + challenge.thumbnail + ')'
    }"
    *ngIf="showVideoContainer">
    <div
      style="background-color: rgba(0, 0, 0, 0.4)"
      class="grid grid-cols-9 h-full">
      <div class="h-full flex items-center">
        <!-- Slide Right Button -->
        <button class="btn btn-ghost btn-circle text-4xl">
          <ion-icon
            name="chevron-back-outline"
            (click)="toggleVideoContainer()"
            style="color: rgb(255, 255, 255)"></ion-icon>
        </button>
        <!-- ./Slide Right Button -->
      </div>
      <div class="col-span-7 h-full flex items-center">
        <!-- Play Button -->
        <label
          class="btn btn-ghost btn-circle mx-auto"
          [for]="videoPlayerLabelId">
          <ion-icon
            name="play-outline"
            style="color: rgb(255, 255, 255); font-size: 45px"></ion-icon>
        </label>
        <!-- ./Play Button -->
      </div>
    </div>
  </div>
  <!-- ./Video Container -->
</div>

<!-- Video Player Modal -->
<app-video-player-modal
  [url]="challenge.video"
  [forLabelId]="videoPlayerLabelId"></app-video-player-modal>
<!-- ./Video Player Modal -->
