.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.active {
  background-color: #d0d5dd;
  border-radius: 20px;
  .navbar__icon {
    color: #1d2939;
  }
}

.navbar {
  background: #fdfdfd;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 15px;
  box-shadow: 0px 20px 40px rgb(74 90 120 / 35%);
  border-radius: 20px;
  position: relative;

  &__item {
    width: 70px;
    height: 70px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;

    &::before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      //background-color: currentColor;
      background-color: #d0d5dd;
      border-radius: 20px;
      //transform: scale(0.8);
      opacity: 0;
      transition: all 0.55s cubic-bezier(0.71, 0.03, 0.23, 0.95);
    }

    &::after {
      //box-shadow: 0 7px 15px currentColor;
    }

    &.-blue {
      color: rgb(5, 39, 51);
    }

    &.-grey {
      color: #344054;
    }

    &.-orange {
      color: rgb(99, 48, 29);
    }

    &.-navy-blue {
      color: #19276f;
    }

    &.-yellow {
      color: rgb(87, 73, 25);
    }

    &.-purple {
      color: rgb(82, 44, 138);
    }

    &:hover {
      &::before,
      &::after {
        //transform: translateY(-20px) scale(1.1);
      }
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 0.4;
      }
      .navbar__icon {
        //transform: translateY(-18px) scale(1.25);
        //color: #fff;
        transition-delay: 0.1s, 0.1s;
      }
    }
  }

  &__icon {
    transition: all 0.5s cubic-bezier(0.71, 0.03, 0.23, 0.95);
    transition-delay: 0.1s;
    display: inline-block;
    position: relative;
    z-index: 2;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
