<app-header [title]="challenge?.title"></app-header>

<ion-content scrollEvents="true">
  <!-- Container -->
  <div class="container max-w-lg mx-auto" *ngIf="challenge">
    <app-video-container
      [challenge]="challenge"
      [videoPlayerLabelId]="videoPlayerLabelId"
      height="300px"></app-video-container>
    <!-- ./Video Section -->

    <div class="m-4">
      <!-- Show Participation List Owner Section -->
      @if (challenge.owner.userId === userId) {
        <label
          class="btn btn-outline w-full normal-case mb-3"
          for="challengePage"
          (click)="tabBarService.setShowTabBar(false)">
          {{ 'MODULES.CHALLENGE.REVIEW_PARTICIPANTS' | translate }}
        </label>
      }
      <!-- ./Show Participation List Owner Section -->

      <!-- Info Section -->
      <div class="grid grid-rows-5 gap-2">
        <div class="flex">
          <app-entry-reward
            [requiredMuscleCoins]="challenge.level.requiredMuscleCoins"
            [rewardMuscleCoins]="
              challenge.level.rewardMuscleCoins
            "></app-entry-reward>

          <!-- Owner Section -->
          <div class="flex ml-auto items-center">
            <p class="text-sm mr-2">
              <span class="text-slate-500">{{ 'COMMON.BY' | translate }}</span>
              <a
                class="link"
                [routerLink]="['/user/member', challenge.owner.userId]"
                (click)="navigationHelper.addPageToHistory('/user/profile/')">
                {{ challenge.owner.username }}
              </a>
            </p>
            <div class="avatar small-avatar-container">
              <div class="w-8 rounded-full">
                <img
                  ngSrc="{{ challenge.owner.avatar }}"
                  fill="true"
                  alt="avatar" />
              </div>
            </div>
          </div>
          <!-- ./Owner Section -->
        </div>

        <div>
          <p class="text-xs lowercase">
            {{ challenge.sportType }} -
            <span class="font-semibold">{{ challenge.level.levelName }}</span>
          </p>
        </div>

        <div>
          <h1 class="font-semibold">{{ challenge.title }}</h1>
        </div>

        <div>
          <p class="text-slate-500">{{ challenge.description }}</p>
        </div>
      </div>
      <!-- ./Info Section -->
      <!-- Action Section -->

      <!-- Sign In To Participate -->
      @if (!userId) {
        <a
          class="btn btn-outline w-full normal-case mb-3"
          routerLink="/user/sign-in">
          {{ 'MODULES.CHALLENGE.SIGN_IN_TO_PARTICIPATE' | translate }}
        </a>
      }
      <!-- ./Sign In To Participate -->

      <!-- Accept Button -->
      @if (
        !!userId &&
        challenge.owner.userId !== userId &&
        (!challenge.participationStatus ||
          challenge.participationStatus === participationStatus.Decline)
      ) {
        <label class="btn btn-block normal-case" for="acceptChallenge">
          <!-- Enter Text -->
          {{ 'COMMON.ENTER' | translate }}
          <!-- Required Muscle Tokens -->
          <span *ngIf="challenge.level.requiredMuscleCoins > 0"
            >-{{ challenge.level.requiredMuscleCoins }} 💪</span
          >
          <!-- ./Required Muscle Tokens -->
          <!-- ./Enter Text -->
        </label>
      }
      <!-- ./Accept Button -->

      <!-- ./Action Section -->

      <!-- Completed by Section -->
      <div
        class="grid grid-cols-6 mt-5 py-2 rounded-xl"
        style="background-color: #e8eaea">
        <div
          class="col-span-3 text-right h-12 flex items-center justify-center">
          <p class="text-slate-500">Completed by</p>
        </div>
        <div class="col-span-3 h-12">
          <!-- Participants List -->
          <app-challenge-avatar-group
            [challenge]="challenge"
            forLabelId="challengePage"></app-challenge-avatar-group>
          <!-- ./Participants List -->
        </div>
      </div>
      <!-- ./Completed by Section -->
    </div>
  </div>
  <!-- ./Container -->

  <!-- Accept Challenge Modal -->
  <input type="checkbox" id="acceptChallenge" class="modal-toggle" />
  <div class="modal" *ngIf="challenge">
    <div class="modal-box justify-center">
      <!-- Accept Challenge Picture -->
      <div class="mb-4">
        <img
          src="assets/img/challenge.svg"
          alt="HallOfFame"
          class="w-2/3 mx-auto" />
      </div>
      <!-- ./Accept Challenge Picture -->

      <!-- Challenge Price and Reward -->
      <div class="justify-center">
        <app-entry-reward
          [requiredMuscleCoins]="challenge.level.requiredMuscleCoins"
          [rewardMuscleCoins]="
            challenge.level.rewardMuscleCoins
          "></app-entry-reward>
      </div>
      <!-- ./Challenge Price and Reward -->

      <h3 class="font-bold text-lg text-slate-800 text-center mt-1">
        {{ 'MODULES.CHALLENGE.WANT_TO_PARTICIPATE' | translate }}
      </h3>
      <p class="text-slate-500 text-center mb-1">
        {{ 'MODULES.CHALLENGE.UPLOAD_YOUR_VIDEO' | translate }}
      </p>

      <!-- Video Section -->
      <app-video-input
        (videoEmitter)="setParticipationVideo($event)"></app-video-input>
      <!-- ./Video Section -->

      <div class="modal-action justify-center">
        <label
          class="btn normal-case btn-outline mr-2"
          for="acceptChallenge"
          #cancelModalBtn
          id="cancelModalBtn">
          Cancel
        </label>

        <label class="btn normal-case" (click)="createChallengeParticipant()">
          {{ 'COMMON.CONFIRM' | translate }} -{{
            challenge.level.requiredMuscleCoins
          }}
          💪
        </label>
      </div>
    </div>
  </div>
  <!-- ./Accept Challenge Modal -->

  <!-- Wait for Upload Modal -->
  <label [for]="warningLabelId" class="btn hidden" #openModalBtn></label>
  <app-warning-modal
    tKey="MODULES.CHALLENGE.UPLOADING_PARTICIPATION_VIDEO"
    [modalId]="warningLabelId">
  </app-warning-modal>
  <!-- ./Wait for Upload Modal -->

  <!-- Challenge Participants List -->
  @if (challenge) {
    <app-challenge-participants-list-modal
      forLabelId="challengePage"
      [challenge]="challenge"></app-challenge-participants-list-modal>
  }
  <!-- ./Challenge Participants List -->
</ion-content>
