<app-header></app-header>

<ion-content scrollEvents="true">
  <!-- Container -->
  <div class="container max-w-lg mx-auto" *ngIf="challenge">
    <!-- Video Section -->
<!--    <div-->
<!--      class="m-2 rounded-lg overflow-hidden"-->
<!--      style="max-height: 469px"-->
<!--      *ngIf="challenge.video">-->
<!--      <video class="w-full" controls>-->
<!--        <source src="{{ challenge.video }}" type="video/mp4" />-->
<!--        <source src="{{ challenge.video }}" type="video/ogg" />-->
<!--        Your browser does not support the video tag.-->
<!--      </video>-->
<!--    </div>-->
    <div>
    <app-video-container
    [challenge]="challenge"
    [videoPlayerLabelId]="videoPlayerLabelId"
    ></app-video-container>
    </div>
    <!-- ./Video Section -->

    <div class="m-4">
      <!-- Approve Button -->
      <button
        class="btn btn-outline w-full normal-case mb-3"
        *ngIf="challenge.owner.userId === userId">
        {{ 'MODULES.CHALLENGE.REVIEW_PARTICIPANTS' | translate }}
      </button>
      <!-- ./Approve Button -->


      <!-- Info Section -->
      <div class="grid grid-rows-5 gap-2">
        <div class="flex">
          <app-entry-reward
            [requiredMuscleTokens]="challenge.level.requiredMuscleTokens"
            [rewardMuscleTokens]="
              challenge.level.rewardMuscleTokens
            "></app-entry-reward>

          <!-- Owner Section -->
          <div class="flex ml-auto items-center">
            <p class="text-sm mr-2">
              <span class="text-slate-500">{{ 'COMMON.BY' | translate }}</span>
              <a class="link">
                {{ challenge.owner.username }}
              </a>
            </p>
            <div class="avatar small-avatar-container">
              <div class="w-8 rounded-full">
                <img
                  ngSrc="{{ challenge.owner.avatar }}"
                  fill="true"
                  alt="avatar" />
              </div>
            </div>
          </div>
          <!-- ./Owner Section -->
        </div>

        <div>
          <p class="text-xs lowercase">
            {{ challenge.sportType }} -
            <span class="font-semibold">{{ challenge.level.levelName }}</span>
          </p>
        </div>

        <div>
          <h1 class="font-semibold">{{ challenge.title }}</h1>
        </div>

        <div>
          <p class="text-slate-500">{{ challenge.description }}</p>
        </div>
      </div>
      <!-- ./Info Section -->
      <!-- Action Section -->

      <!-- Accept Button -->
      <label class="btn btn-block normal-case"
              for="acceptChallenge">
        <!-- Enter Text -->
        <span
          *ngIf="
                challenge.owner.userId !== userId &&
                (!challenge.participationStatus ||
                  challenge.participationStatus === participationStatus.Decline)
              ">
              {{ 'COMMON.ENTER' | translate }}
          <!-- Required Muscle Tokens -->
              <span *ngIf="challenge.level.requiredMuscleTokens > 0">-{{ challenge.level.requiredMuscleTokens }} 💪</span>
          <!-- ./Required Muscle Tokens -->
            </span>
        <!-- ./Enter Text -->
        <!-- Details Text -->
        <span *ngIf="challenge.owner.userId === userId">
              {{ 'COMMON.DETAILS' | translate }}
            </span>
        <!-- ./Details Text -->
      </label>
      <!-- ./Accept Button -->

      <!-- ./Action Section -->

      <!-- Completed by Section -->
      <div
        class="grid grid-cols-6 mt-5 py-2 rounded-xl"
        style="background-color: #e8eaea">
        <div
          class="col-span-3 text-right h-12 flex items-center justify-center">
          <p class="text-slate-500">Completed by</p>
        </div>
        <div class="col-span-3 h-12">
          <!-- Participants List -->
          <app-challenge-avatar-group
            [challenge]="challenge"
            forLabelId="challengePage"></app-challenge-avatar-group>
          <!-- ./Participants List -->
        </div>
      </div>
      <!-- ./Completed by Section -->
    </div>
  </div>
  <!-- ./Container -->

  <!-- Accept Challenge Modal -->
  <input type="checkbox" id="acceptChallenge" class="modal-toggle" />
  <div class="modal" *ngIf="challenge">
    <div class="modal-box justify-center">
      <!-- Accept Challenge Picture -->
      <div class="mb-4">
        <img
          src="assets/img/challenge.svg"
          alt="HallOfFame"
          class="w-2/3 mx-auto" />
      </div>
      <!-- ./Accept Challenge Picture -->

      <!-- Challenge Price and Reward -->
      <div class="justify-center">
        <app-entry-reward
          [requiredMuscleTokens]="challenge.level.requiredMuscleTokens"
          [rewardMuscleTokens]="
            challenge.level.rewardMuscleTokens
          "></app-entry-reward>
      </div>
      <!-- ./Challenge Price and Reward -->

      <h3 class="font-bold text-lg text-slate-800 text-center mt-1">
        {{ 'MODULES.CHALLENGE.WANT_TO_PARTICIPATE' | translate }}
      </h3>
      <p class="text-slate-500 text-center mb-1">
        {{ 'MODULES.CHALLENGE.UPLOAD_YOUR_VIDEO' | translate }}
      </p>

      <!-- Video Section -->
      <app-video-input></app-video-input>
      <!-- ./Video Section -->

      <div class="modal-action justify-center">
        <label class="btn normal-case btn-outline mr-2" for="acceptChallenge">
          Cancel
        </label>

        <label class="btn normal-case" for="acceptChallenge">
          {{ 'COMMON.CONFIRM' | translate }} -{{
            challenge.level.requiredMuscleTokens
          }}
          💪
        </label>
      </div>
    </div>
  </div>
  <!-- ./Accept Challenge Modal -->
</ion-content>
