<app-header></app-header>

<ion-content>
  <div class="max-w-lg mx-auto bg-white pl-8 pr-8 rounded-xl">
    <img src="/assets/img/welcome.svg" alt="Welcome" class="mx-auto" />
  </div>
  <div class="max-w-lg mx-auto my-10 bg-white pl-8 pr-8 rounded-xl">
    <!--    <form>-->
    <form
      class="flex flex-col space-y-4"
      [formGroup]="signUpForm"
      (submit)="signUp()">
      <!--      <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello Again!</h1>-->
      <p class="text-lg text-slate-500 mb-1">
        Welcome to the largest community of street athletes in the world 🌍️!
      </p>
      <!--      &lt;!&ndash; Full Name &ndash;&gt;-->
      <!--      <div-->
      <!--        class="flex items-center w-full my-3 py-3 border rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"-->
      <!--        [class.border-rose-600]="signUpForm.get('username')?.invalid"-->
      <!--        [class.border-slate-200]="signUpForm.get('username')?.valid">-->
      <!--        <svg-->
      <!--          xmlns="http://www.w3.org/2000/svg"-->
      <!--          class="h-5 w-5 text-gray-400"-->
      <!--          viewBox="0 0 20 20"-->
      <!--          fill="currentColor">-->
      <!--          <path-->
      <!--            fill-rule="evenodd"-->
      <!--            d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"-->
      <!--            clip-rule="evenodd" />-->
      <!--        </svg>-->
      <!--        <input-->
      <!--          class="pl-2 outline-none border-none"-->
      <!--          type="text"-->
      <!--          name=""-->
      <!--          placeholder="Full name" />-->
      <!--      </div>-->
      <!--      &lt;!&ndash; ./Full Name &ndash;&gt;-->

      <!-- Username -->
      <div
        class="flex items-center w-full py-3 my-3 border rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
        [class.border-rose-600]="signUpForm.get('username')?.invalid"
        [class.border-slate-200]="signUpForm.get('username')?.valid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="text"
          formControlName="username"
          placeholder="Username" />
      </div>
      <!-- ./Username -->

      <!-- Email -->
      <div
        class="flex items-center w-full py-3 my-3 border rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
        [class.border-rose-600]="signUpForm.get('email')?.invalid"
        [class.border-slate-200]="signUpForm.get('email')?.valid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="text"
          formControlName="email"
          placeholder="Email Address" />
      </div>
      <!-- ./Email -->

      <!-- Password -->
      <div
        class="flex items-center w-full py-3 my-3 border rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
        [class.border-rose-600]="signUpForm.get('password')?.invalid"
        [class.border-slate-200]="signUpForm.get('password')?.valid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          viewBox="0 0 20 20"
          fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
            clip-rule="evenodd" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="password"
          formControlName="password"
          placeholder="Password" />
      </div>
      <!-- ./Password -->

      <button
        type="submit"
        class="btn bg-indigo-600 space-x-2 items-center justify-center"
        [ngClass]="showSignUpSpinner ? 'loading disabled' : ''">
        <span *ngIf="!showSignUpSpinner">Sing Up</span>
      </button>
    </form>
    <!--    </form>-->
  </div>
</ion-content>
