<!-- Video Container -->
<div
  class="thumbnail-container rounded-2xl overflow-hidden"
  [ngStyle]="{
    'background-image': 'url(' + challenge.thumbnail + ')',
    'height': height,
  }">
  <div style="background-color: rgba(0, 0, 0, 0.4)" class="grid h-full">
    <div class="h-full flex items-center">
      <!-- Play Button -->
      <label
        class="btn btn-ghost btn-circle mx-auto"
        [for]="videoPlayerLabelId">
        <ion-icon
          name="play-outline"
          style="color: rgb(255, 255, 255); font-size: 45px"></ion-icon>
      </label>
      <!-- ./Play Button -->
    </div>
  </div>
</div>
<!-- ./Video Container -->

<!-- Video Player Modal -->
<app-video-player-modal
  [url]="challenge.video"
  [forLabelId]="videoPlayerLabelId"></app-video-player-modal>
<!-- ./Video Player Modal -->
