<!-- Video Container -->
<div
  class="thumbnail-container"
  [ngStyle]="{
    'background-image': 'url(' + challenge.thumbnail + ')',
    'height': height,
  }">
  <div
    style="background-color: rgba(0, 0, 0, 0.4)"
    class="grid grid-cols-9 h-full">
    <div class="col-span-7 h-full flex items-center">
      <!-- Play Button -->
      <label
        class="btn btn-ghost btn-circle mx-auto"
        [for]="videoPlayerLabelId">
        <ion-icon
          name="play-outline"
          style="color: rgb(255, 255, 255); font-size: 45px"></ion-icon>
      </label>
      <!-- ./Play Button -->
    </div>
  </div>
</div>
<!-- ./Video Container -->

<!-- Video Player Modal -->
<app-video-player-modal
  [url]="challenge.video"
  [forLabelId]="videoPlayerLabelId"></app-video-player-modal>
<!-- ./Video Player Modal -->
