<app-header></app-header>

<ion-content>
  <div class="max-w-lg mx-auto bg-white pl-8 pr-8 rounded-xl">
    <img src="/assets/img/cry.svg" alt="Welcome" class="mx-auto" />
  </div>
  <div class="max-w-lg mx-auto my-10 bg-white pl-8 pr-8 rounded-xl">
    <!--    <form>-->
    <form
      class="flex flex-col space-y-4"
      [formGroup]="forgotPasswordForm"
      (submit)="forgotPassword()">
      <!-- Email -->
      <div
        class="flex items-center w-full py-3 my-3 border rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
        [class.border-rose-600]="forgotPasswordForm.get('email')?.invalid"
        [class.border-slate-200]="forgotPasswordForm.get('email')?.valid">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="text"
          formControlName="email"
          placeholder="Email Address" />
      </div>
      <!-- ./Email -->

      <button
        type="submit"
        class="btn space-x-2 items-center justify-center capitalize"
        [ngClass]="[
          showResetPasswordSpinner ? 'loading btn-disabled' : '',
          forgotPasswordForm.invalid ? 'btn-disabled' : 'bg-indigo-600',
        ]">
        <span *ngIf="!showResetPasswordSpinner">{{
          'MODULES.USER.FORGOT_PASSWORD.SEND_RESET_LINK' | translate
        }}</span>
      </button>
    </form>
    <!--    </form>-->
  </div>
</ion-content>
