<div class="card bg-base-100 w-80" style="background-color: #f2f4f7">
  <div class="card-body text-left">
    <p class="text-xs lowercase">
      {{ challenge.sportType }} -
      <span class="font-semibold">{{ challenge.level.levelName }}</span>
    </p>
    <h2 class="font-semibold">{{ challenge.title }}</h2>
    <p>{{ challenge.description }}</p>

    <div class="card-actions justify-between mt-2">
      <!-- Enter Button -->
      <button class="btn normal-case" (click)="openChallenge()">
        @if (
          challenge.owner.userId !== userId &&
          (!challenge.participationStatus ||
            challenge.participationStatus === participationStatus.Decline)
        ) {
          <!-- Enter Text -->
          <span>
            {{ 'COMMON.ENTER' | translate }}
            <!-- Required Muscle Tokens -->
            @if (challenge.level.requiredMuscleCoins > 0) {
              <span>-{{ challenge.level.requiredMuscleCoins }} 💪</span>
            }
            <!-- ./Required Muscle Tokens -->
          </span>
          <!-- ./Enter Text -->
        } @else {
          <!-- Details Text -->
          <span>
            {{ 'COMMON.DETAILS' | translate }}
          </span>
          <!-- ./Details Text -->
        }
      </button>
      <!-- ./Enter Button -->

      <!-- Participants List -->
      <app-challenge-avatar-group
        [challenge]="challenge"
        forLabelId="challengeCardMd">
      </app-challenge-avatar-group>
      <!-- ./Participants List -->
    </div>
  </div>
</div>
