<div
  class="card w-64 shadow-xl text-slate-50"
  style="background-color: #1d2939">
  <figure style="max-height: 148px">
    <img [src]="challenge.thumbnail" [alt]="challenge.title" />
  </figure>
  <div class="card-body">
    <p class="text-xs lowercase">
      {{ challenge.sportType }} - {{ challenge.level.levelName }}
    </p>
    <h2 class="card-title">{{ challenge.title }}</h2>
    <div class="card-actions justify-center">
      <button class="btn w-48 normal-case">
        Enter -{{ challenge.level.requiredMuscleCoins }} 💪
      </button>
    </div>
  </div>
</div>
