<app-header
  title="{{ 'MODULES.CHALLENGE.CREATE_CHALLENGE' | translate }}"></app-header>

<ion-content scrollEvents="true">
  <!-- Container -->
  <div class="container max-w-lg mx-auto mb-4">
    <!-- Challenge Picture -->
    <div class="mb-4">
      <img
        src="assets/img/challenge.svg"
        alt="HallOfFame"
        class="w-2/3 mx-auto" />
    </div>
    <!-- ./Challenge Picture -->
    <form
      class="flex flex-col space-y-4 mx-4 my-2"
      [formGroup]="createChallengeForm"
      (submit)="createChallenge()">
      <!-- Title -->
      <input
        type="text"
        placeholder="Challenge Title"
        formControlName="title"
        class="input w-full max-w-xl input-bordered input-primary"
        [class.border-rose-600]="createChallengeForm.get('title')?.invalid"
        [class.border-slate-200]="createChallengeForm.get('title')?.valid" />
      <!-- ./Title -->

      <!-- Video Section -->
      <div class="max-w-xl">
        <p class="text-xl text-slate-800">
          {{ 'MODULES.CHALLENGE.UPLOAD_VIDEO' | translate }}
        </p>
        <app-video-input (videoEmitter)="handleVideo($event)"></app-video-input>
      </div>
      <!-- ./ Video Section -->

      <!-- Description Section -->
      <div>
        <p class="text-xl text-slate-800">
          {{ 'MODULES.CHALLENGE.DESCRIPTION' | translate }}
        </p>
        <textarea
          style="margin-top: -0.14rem"
          rows="3"
          class="textarea w-full textarea-bordered"
          formControlName="description"
          [class.border-rose-600]="
            createChallengeForm.get('description')?.invalid
          "
          [class.border-slate-200]="
            createChallengeForm.get('description')?.valid
          "
          maxlength="250"></textarea>
      </div>
      <!-- ./Description Section -->

      <!-- Select Discipline -->
      <app-select-sport
        (selectedSportValueEmitter)="setSportFilter($event)"></app-select-sport>
      <!-- ./Select Discipline -->

      <!-- Level Filter Section -->
      <div class="text-center">
        <app-select-level
          (selectedValueValueEmitter)="setLevel($event)"></app-select-level>
      </div>
      <!-- ./Level Filter Section -->

      <!-- Button Section -->
      <div class="flex justify-center pt-4">
        <button class="btn btn-outline w-1/3 mr-6 normal-case">
          {{ 'COMMON.CANCEL' | translate }}
        </button>

        <button type="submit" class="btn btn-success normal-case w-1/3">
          {{ 'COMMON.CONFIRM' | translate }}
        </button>
      </div>
    </form>
  </div>

  <!-- Uploading Modal -->
  <label for="uploadingModal" class="btn hidden" #openModalBtn id="openModalBtn"
    >open modal</label
  >
  <input type="checkbox" id="uploadingModal" class="modal-toggle" />
  <div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box text-center justify-center">
      <!-- Warns Lottie -->
      <ng-lottie
        width="220px"
        containerClass="mx-auto mb-5"
        [options]="lottieOptions">
      </ng-lottie>
      <!-- ./Warns Lottie -->

      <h2 class="font-medium text-slate-800 text-center">
        {{ 'MODULES.CHALLENGE.CHALLENGE_UPLOADING_MODAL_TEXT' | translate }}
      </h2>
      <div class="modal-action max-w-md">
        <!-- Understand Button -->
        <button
          class="btn btn-warning normal-case mx-auto"
          (click)="closeModal()">
          {{ 'COMMON.I_UNDERSTAND' | translate }}
        </button>
        <!-- ./Understand Button -->
      </div>
    </div>
  </div>
  <!-- ./Uploading Modal -->
</ion-content>
