<header class="bg-white">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
          alt="" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <!-- App Section -->
      <div class="relative" (mouseenter)="toggleAppFlyout()">
        <button
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          [ngClass]="showAppFlyout ? 'text-[#DC2626]' : ''"
          aria-expanded="false">
          {{ 'MODULES.HOME.NAVBAR.TITLE.APP' | translate }}
        </button>
        <div
          class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-[600px] overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 transform translate-y-1 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-150 ease-in"
          (mouseleave)="showAppFlyout = false"
          [style.visibility]="showAppFlyout ? 'visible' : 'hidden'"
          [class.opacity-0]="!showAppFlyout"
          [class.translate-y-1]="!showAppFlyout"
          [class.opacity-100]="showAppFlyout"
          [class.translate-y-0]="showAppFlyout"
          style="transition-duration: 150ms">
          <div class="grid grid-cols-5">
            <!-- Picture Section -->
            <div class="col-span-2 flex flex-col py-10 px-4">
              <h1 class="text-md font-bold text-slate-900">
                {{ 'MODULES.HOME.NAVBAR.TITLE.APP' | translate }}
              </h1>

              <p class="text-sm mb-8 text-gray-900 text-justify">
                {{ 'MODULES.HOME.NAVBAR.DESCRIPTION.APP' | translate }}
              </p>
              <img
                class="h-36 object-cover mx-auto mt-auto"
                src="/assets/img/share.svg"
                alt="App" />
            </div>
            <!-- ./Picture Section -->

            <!-- App Links Section -->
            <div class="p-4 col-span-3">
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="logo-google-playstore"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    Android
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">
                    Try out the Alpha version of our app, now live on the Google
                    Play Store!
                  </p>
                </div>
              </div>
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="logo-apple-appstore"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    iOs
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">Soon</p>
                </div>
              </div>
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="logo-chrome"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    Web
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">Soon</p>
                </div>
              </div>
            </div>
            <!-- ./App Links Section -->
          </div>
        </div>
      </div>
      <!-- ./App Section -->

      <!-- Muscle Coin Section -->
      <div class="relative" (mouseenter)="toggleMuscleFlyout()">
        <button
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          [ngClass]="showMuscleFlyout ? 'text-[#DC2626]' : ''"
          aria-expanded="false">
          {{ 'MODULES.HOME.NAVBAR.TITLE.MUSCLE_COIN' | translate }}
        </button>
        <div
          class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-[600px] overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 transform translate-y-1 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-150 ease-in"
          (mouseleave)="showMuscleFlyout = false"
          [style.visibility]="showMuscleFlyout ? 'visible' : 'hidden'"
          [class.opacity-0]="!showMuscleFlyout"
          [class.translate-y-1]="!showMuscleFlyout"
          [class.opacity-100]="showMuscleFlyout"
          [class.translate-y-0]="showMuscleFlyout"
          style="transition-duration: 150ms">
          <div class="grid grid-cols-5">
            <!-- Picture Section -->
            <div class="col-span-2 flex flex-col py-10 px-4">
              <h1 class="text-md font-bold text-slate-900">
                {{ 'MODULES.HOME.NAVBAR.TITLE.MUSCLE_COIN' | translate }}
              </h1>

              <p class="text-sm mb-8 text-gray-900 text-justify">
                {{
                  'MODULES.HOME.NAVBAR.DESCRIPTION.MUSCLE_COIN_LONG' | translate
                }}
              </p>
              <img
                class="h-32 object-cover mx-auto mt-auto"
                src="/assets/img/muscle-coin.png"
                alt="App" />
            </div>
            <!-- ./Picture Section -->

            <!-- Muscle Coin Links -->
            <div class="p-4 col-span-3">
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="ellipse-outline"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    {{ 'MODULES.HOME.NAVBAR.TITLE.MUSCLE_COIN' | translate }}
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">
                    {{
                      'MODULES.HOME.NAVBAR.DESCRIPTION.MUSCLE_COIN' | translate
                    }}
                  </p>
                </div>
              </div>
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="document-outline"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    {{ 'MODULES.HOME.NAVBAR.TITLE.WHITEPAPER' | translate }}
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">
                    {{
                      'MODULES.HOME.NAVBAR.DESCRIPTION.WHITEPAPER' | translate
                    }}
                  </p>
                </div>
              </div>
            </div>
            <!-- ./Muscle Coin Links -->
          </div>
        </div>
      </div>
      <!-- ./Muscle Coin Section -->

      <!-- Business Section -->
      <div class="relative" (mouseenter)="toggleBusinessFlyout()">
        <button
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          [ngClass]="showBusinessFlyout ? 'text-[#DC2626]' : ''"
          aria-expanded="false">
          {{ 'MODULES.HOME.NAVBAR.TITLE.BUSINESS' | translate }}
        </button>
        <div
          class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-[600px] overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 transform translate-y-1 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-150 ease-in"
          (mouseleave)="showBusinessFlyout = false"
          [style.visibility]="showBusinessFlyout ? 'visible' : 'hidden'"
          [class.opacity-0]="!showBusinessFlyout"
          [class.translate-y-1]="!showBusinessFlyout"
          [class.opacity-100]="showBusinessFlyout"
          [class.translate-y-0]="showBusinessFlyout"
          style="transition-duration: 150ms">
          <div class="grid grid-cols-5">
            <!-- Picture Section -->
            <div class="col-span-2 flex flex-col py-10 px-4">
              <h1 class="text-md font-bold text-slate-900">
                {{ 'MODULES.HOME.NAVBAR.TITLE.BUSINESS' | translate }}
              </h1>

              <p class="text-sm mb-8 text-gray-900 text-justify">
                {{
                  'MODULES.HOME.NAVBAR.DESCRIPTION.BUSINESS_LONG' | translate
                }}
              </p>
              <img
                class="h-36 object-cover mx-auto mt-auto"
                src="/assets/img/business.svg"
                alt="App" />
            </div>
            <!-- ./Picture Section -->

            <!-- Business Links -->
            <div class="p-4 col-span-3">
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="rocket-outline"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    {{
                      'MODULES.HOME.NAVBAR.TITLE.BUSINESS_EVENTS' | translate
                    }}
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">
                    {{
                      'MODULES.HOME.NAVBAR.DESCRIPTION.BUSINESS_EVENTS'
                        | translate
                    }}
                  </p>
                </div>
              </div>
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="storefront-outline"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    {{ 'MODULES.HOME.NAVBAR.TITLE.MARKETPLACE' | translate }}
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">
                    {{
                      'MODULES.HOME.NAVBAR.DESCRIPTION.MARKETPLACE' | translate
                    }}
                  </p>
                </div>
              </div>
            </div>
            <!-- ./Business Links -->
          </div>
        </div>
      </div>
      <!-- ./Business Section -->

      <!-- Company Section -->
      <div class="relative" (mouseenter)="toggleCompanyFlyout()">
        <button
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          [ngClass]="showCompanyFlyout ? 'text-[#DC2626]' : ''"
          aria-expanded="false">
          {{ 'MODULES.HOME.NAVBAR.TITLE.COMPANY' | translate }}
        </button>
        <div
          class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-[600px] overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 transform translate-y-1 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-150 ease-in"
          (mouseleave)="showCompanyFlyout = false"
          [style.visibility]="showCompanyFlyout ? 'visible' : 'hidden'"
          [class.opacity-0]="!showCompanyFlyout"
          [class.translate-y-1]="!showCompanyFlyout"
          [class.opacity-100]="showCompanyFlyout"
          [class.translate-y-0]="showCompanyFlyout"
          style="transition-duration: 150ms">
          <div class="grid grid-cols-5">
            <!-- Picture Section -->
            <div class="col-span-2 flex flex-col py-10 px-4">
              <h1 class="text-md font-bold text-slate-900">PullApp</h1>

              <p class="text-sm mb-8 text-gray-900 text-justify">
                {{ 'MODULES.HOME.NAVBAR.DESCRIPTION.COMPANY_LONG' | translate }}
              </p>
              <img
                class="h-36 object-cover mx-auto mt-auto"
                src="/assets/img/welcome.svg"
                alt="App" />
            </div>
            <!-- ./Picture Section -->

            <!-- Business Links -->
            <div class="p-4 col-span-3">
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="people-outline"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    {{ 'MODULES.HOME.NAVBAR.TITLE.ABOUT_US' | translate }}
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">
                    {{ 'MODULES.HOME.NAVBAR.DESCRIPTION.ABOUT_US' | translate }}
                  </p>
                </div>
              </div>
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50 flyout-element">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    {{ 'MODULES.HOME.NAVBAR.TITLE.CONTACT_US' | translate }}
                    <span class="absolute inset-0"></span>
                  </a>
                  <p class="mt-1 text-gray-600">
                    {{
                      'MODULES.HOME.NAVBAR.DESCRIPTION.CONTACT_US' | translate
                    }}
                  </p>
                </div>
              </div>
            </div>
            <!-- ./Business Links -->
          </div>
        </div>
      </div>
      <!-- ./Company Section -->
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Log in <span aria-hidden="true">&rarr;</span></a
      >
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt="" />
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <div class="-mx-3">
              <button
                type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="disclosure-1"
                aria-expanded="false">
                Product
                <!--
                  Expand/collapse icon, toggle classes based on menu open state.

                  Open: "rotate-180", Closed: ""
                -->
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd" />
                </svg>
              </button>
              <!-- 'Product' sub-menu, show/hide based on menu state. -->
              <div class="mt-2 space-y-2" id="disclosure-1">
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Analytics</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Engagement</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Security</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Integrations</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Automations</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Watch demo</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Contact sales</a
                >
              </div>
            </div>
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Features</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Marketplace</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Company</a
            >
          </div>
          <div class="py-6">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Log in</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
