<div class="card bg-base-100 w-80" style="background-color: #f2f4f7">
  <div class="card-body text-left">
    <h2 class="font-semibold">spot title</h2>
    <p>spot description</p>
  </div>

  <!-- Carousel -->
  <div class="carousel w-full">
    <div id="slide1" class="carousel-item relative w-full">
      <img src="https://placeimg.com/192/192/people" class="w-full" />
      <div
        class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide4" class="btn btn-circle">❮</a>
        <a href="#slide2" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
      <img src="https://placeimg.com/192/192/people" class="w-full" />
      <div
        class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide1" class="btn btn-circle">❮</a>
        <a href="#slide3" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
      <img src="https://placeimg.com/192/192/people" class="w-full" />
      <div
        class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide2" class="btn btn-circle">❮</a>
        <a href="#slide4" class="btn btn-circle">❯</a>
      </div>
    </div>
  </div>
  <!-- ./Carousel -->
</div>
