<app-header></app-header>

<ion-content scrollEvents="true">
  <!-- Container -->
  <div class="container max-w-xl mx-auto p-3">
    <!-- Challenges To Approve -->
    @for (challenge of challenges; track challenge.id) {
      <app-challenge-card [challenge]="challenge"></app-challenge-card>
      @if (challenge.challengeType === ChallengeType.Sponsored) {
        sponsoredBy {{ challenge.sponsoredBy }} <br />
        sponsorUrl
        <a [href]="challenge.sponsorUrl" target="_blank">
          {{ challenge.sponsorUrl }}</a
        >
      }

      <div class="flex justify-between">
        <!-- Reject Button -->
        <label
          [for]="rejectChallengeModalLabelId"
          (click)="setChallengeToReject(challenge)"
          class="btn btn-error normal-case"
          >{{ 'COMMON.REJECT' | translate }}</label
        >
        <!-- ./Reject Button -->

        <!-- Approve Button -->
        <button
          class="btn btn-primary normal-case"
          (click)="approve(challenge.id)">
          {{ 'COMMON.APPROVE' | translate }}
        </button>
        <!-- ./Approve Button -->
      </div>
      <!-- ./Challenges To Approve -->
    }
  </div>
  <!-- ./Container -->

  <app-text-modal
    [showWarningAnimation]="true"
    textKey="MODULES.ADMIN.REJECT_CHALLENGE_TITLE"
    acceptButtonKey="MODULES.ADMIN.CONFIRM_REJECTION"
    [forLabelId]="rejectChallengeModalLabelId"
    (textEmitter)="reject($event)"></app-text-modal>
</ion-content>
