<app-header
  [showMenu]="false"
  rightMenuLabelForId="filter-modal"
  [showProfilePreferences]="false"
  [profilePreferencesCallback]="
    tabBarService.setShowTabBar.bind(tabBarService, false)
  "></app-header>

<ion-content scrollEvents="true">
  <div class="container max-w-lg mx-auto my-10">
    <!-- Official Challenges Horizontal Section -->
    <div class="grid grid-cols-5 justify-items-center">
      <!-- Scroll Left Button -->
      <div class="max-w-lg mr-auto">
        <button class="btn btn-ghost btn-circle text-2xl" #rightScrollButton>
          <ion-icon
            (click)="scrollLeft()"
            name="chevron-back-outline"
            style="color: rgba(55, 16, 185, 0.75)"></ion-icon>
        </button>
      </div>
      <!-- ./Scroll Left Button -->
      <div class="grid col-span-3 content-center">
        <h1 class="text-xl font-medium text-slate-900">Official Challenges</h1>
      </div>
      <!-- Scroll Right Button -->
      <div class="max-w-lg ml-auto">
        <button class="btn btn-ghost btn-circle text-2xl">
          <ion-icon
            (click)="scrollRight()"
            name="chevron-forward-outline"
            style="color: rgba(55, 16, 185, 0.75)"></ion-icon>
        </button>
      </div>
      <!-- ./Scroll Right Button -->
    </div>
    <div
      class="container-snap snap-proximity pb-8 w-full flex gap-8 snap-x overflow-x-auto self-center p-5"
      #widgetsContent>
      <div class="snap-center" *ngFor="let challenge of challenges">
        <!-- Challenge Card -->
        <app-challenge-card
          [cardClass]="'w-96'"
          [challenge]="challenge"></app-challenge-card>
        <!-- ./Challenge Card -->
      </div>
    </div>
    <!-- Official Challenges Horizontal Section -->
  </div>

  <!-- Filter Modal -->
  <input type="checkbox" id="filter-modal" class="modal-toggle" />
  <div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box text-center">
      <label
        for="filter-modal"
        class="btn btn-xs btn-circle absolute right-2 top-2"
        (click)="tabBarService.setShowTabBar(true)"
        >✕</label
      >

      <h1 class="font-bold text-slate-800 text-xl mb-7">Filters</h1>

      <!-- Sport Filter Section -->
      <app-select-sport
        (selectedSportValueEmitter)="setSportFilter($event)"></app-select-sport>
      <!-- ./Sport Filter Section -->

      <!-- Level Filter Section -->
      <app-select-level
        (selectedValueValueEmitter)="setLevelFilter($event)"></app-select-level>
      <!-- ./Level Filter Section -->

      <div class="modal-action">
        <!-- Join Meeting -->
        <button class="btn mr-auto">Reset</button>

        <button class="btn btn-primary mr-auto">Apply</button>

        <!-- ./Join Meeting -->
      </div>
    </div>
  </div>
  <!-- ./Filter Modal -->
</ion-content>
