<app-header
  [showMenu]="true"
  [showProfilePreferences]="true"
  [title]="'Giro Giro'"></app-header>

<ion-content scrollEvents="true">
  <div class="max-w-lg mx-auto my-10">
    <div class="grid mt-5">
      <div class="avatar mx-auto">
        <div class="w-32 rounded-full">
          <img src="https://placeimg.com/192/192/people" />
        </div>
      </div>
      <div>
        <p class="text-2xl text-slate-900 font-bold mb-1 text-center mt-5">
          @username
        </p>
      </div>

      <div class="stats shadow mx-3 mt-5">
        <div class="stat">
          <div class="stat-figure text-secondary pt-3.5">
            <span style="font-size: 30px" class="align-middle">💪</span>
          </div>
          <div class="stat-title">MP</div>
          <div class="stat-value">90</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-secondary">
            <div class="stat-figure text-secondary pt-3.5">
              <span style="font-size: 30px" class="align-middle">🏆️</span>
            </div>
          </div>
          <div class="stat-title">Ranking</div>
          <div class="stat-value">150</div>
        </div>
      </div>

      <!-- Events -->
      <div class="px-4 mt-8">
        <!-- Challenge Card -->
        <app-challenge-card
          *ngFor="let challenge of challenges"
          [challenge]="challenge"></app-challenge-card>
        <!-- ./Challenge Card -->

        <!-- Spot Card -->
        <div class="card card-side bg-base-100 shadow-xl mb-5">
          <figure>
            <img src="assets/img/share.svg" alt="share" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Spot! 🌍️</h2>
            <p>@username shared a new spot.</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Discover it</button>
            </div>
          </div>
        </div>
        <!-- ./Spot Card -->

        <!-- Meeting Card -->
        <div class="card card-side bg-base-100 shadow-xl mb-5">
          <div class="card-body">
            <h2 class="card-title">Meeting 🤝️</h2>
            <p>@username shared a new spot.</p>
            <div class="card-actions justify-start">
              <label class="btn btn-primary" for="my-modal-6">join</label>
            </div>
          </div>
          <figure>
            <img src="assets/img/meeting.svg" alt="share" />
          </figure>
        </div>
        <!-- ./Meeting Card -->
      </div>
      <!-- ./Events -->
    </div>
  </div>
  <!-- Meeting Modal -->
  <input type="checkbox" id="my-modal-6" class="modal-toggle" />
  <div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <label
        for="my-modal-6"
        class="btn btn-xs btn-circle absolute right-2 top-2"
        >✕</label
      >

      <!-- Maps -->
      <figure class="px-1 pt-1 overflow-hidden mt-2">
        <div class="rounded-xl overflow-hidden">
          <app-map [style]="{ height: '15em' }"></app-map>
        </div>
      </figure>
      <!-- ./Maps -->

      <h3 class="font-bold text-lg mt-5">Title</h3>
      <p class="py-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco
      </p>
      <div class="modal-action">
        <!-- Join Meeting -->
        <button class="btn btn-primary mr-auto">Join</button>

        <div class="avatar-group -space-x-6">
          <div class="avatar">
            <div class="w-9">
              <img src="https://placeimg.com/192/192/people" />
            </div>
          </div>
          <div class="avatar">
            <div class="w-9">
              <img src="https://placeimg.com/192/192/people" />
            </div>
          </div>
          <div class="avatar">
            <div class="w-9">
              <img src="https://placeimg.com/192/192/people" />
            </div>
          </div>
          <div class="avatar placeholder">
            <div class="w-9 bg-neutral-focus text-neutral-content">
              <span>+99</span>
            </div>
          </div>
        </div>
        <!-- ./Join Meeting -->
      </div>
    </div>
  </div>
  <!-- ./Meeting Modal -->
</ion-content>
